<%- include("partials/head", { bot, user, path, description, title: "Roxxy - Política",  url, image }) %>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 style="text-align: center; font-size: 45px ">Política De Privacidad De Roxxy</h1>
<br>
<br>
<br>
<br>
<div>
<div style="margin: 100px; font-size:60px">
<p><b><u>Almacenamiento Y Uso (Usuarios)</u></b><br>
Almacenamos ID de usuario, nombre de usuario y discriminador de usuario.<br>
<br>
<b><u>Almacenamiento Y Uso (Servidores)</b></u><br>
Roxxy almacena información pública; Configuración guardada y prefijos personalizados, nombre de servidor + ID de servidor<br>
<br>
<b><u>La Seguridad De Roxxy</b></u><br>
Implementamos una variedad de medidas de seguridad cuando un usuario realiza un pedido, ingresa, envía o accede a su<br>información para mantener la seguridad de su información personal. Pero recuerde que nuestro almacenamiento no está 100 % seguro y<br>no podemos garantizar que sea 100 % seguro.<br>
<br>
<b><u>¿Quieres Que Eliminemos Tus Datos?</b></u><br>
Los datos personales se almacenan durante el tiempo requerido por el propósito para el que han sido<br>recopilados. Sin embargo, si desea que eliminemos sus datos, puede solicitar la eliminación de datos en<br>en cualquier momento poniéndose en contacto con nosotros.
</p>
</div>

<%- include("partials/mainfooter") %>
<%- include("partials/footer") %>